<<<<<<< HEAD
.button {
    border-radius: 25px;
    margin-bottom: 10px;
}

.login {
    background-color: rgb(126, 126, 238);
    border-radius: 25px;
    border-color: rgb(126, 126, 238);
    width: 250px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.google {
    background-color: red;
    border-color: red;
    border-radius: 25px;
    width: 250px;
    padding: 5px;
    margin-bottom: 5px;
}

.facebook {
    background-color: blue;
    border-color: blue;
    border-radius: 25px;
    width: 250px;
    padding: 5px;
    margin-bottom: 5px;
=======
.welcome-image {
    width: 50%;

}

.welcome {
    width: 50%;
    display: flex;
    justify-content: center;
}

.welcome-login {
    width: 50%;

>>>>>>> Welcome-image
}